body {
  background-color: #F9F7F7;
  font-family: Roboto;
  color: #3F72AF;
}

.mainpage {
  background-color: #F9F7F7;
}

.mainpage {
  margin: 10% auto;
  max-width: 50%;
}

.aboutme {
  display: flex;
  flex-direction: column;

}

.profilephoto {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.intro {
  margin: auto;
  text-align: center;
  max-width: 500px;
}

.resumelink {
  width: 100px;
  margin: auto;
}

.resumebutton {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  background-color: #3F72AF;
  margin: auto;
  color: #DBE2EF;
}

.resumebutton:hover {
  background-color: #8ECDDD;
  color: #F9F7F7;
}

.contactscomponent {
  text-align: center;
  margin-top: 15%;
}

.contacts {
  margin: 0 4px 0 4px;
  font-size: 40px
}

.projectimage_container {
  max-width: 100%;
  border-radius: 10px;
  position: relative;
}

.projectimage {
  max-width: 100%;
  border-radius: 10px;
  position: relative;
}

.projectlink {
  position: absolute;
  z-index: 4;
 bottom: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.8);
  max-height: 40px;
  border-radius: 0 0 5px 0;
}

.projectimage_container .githublink {
  font-size: 40px;
  z-index: 10;
  color: rgba(128, 128, 128, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
}

.githublink {
  font-size: 40px;
  z-index: 10;
  color: rgba(128, 128, 128, 0.8);
}

.githublink:hover {
  color: rgb(182, 181, 181);
}

.projectcard {
  max-width: 800px;
  position: relative;
}

.projectcontent {
  margin: auto;
  max-width: 800px;
}

.projectcontent .projectcard {
  position: relative;
  margin: 10px 20px;
}

.projectcontent .projectcard .projecttitle {
  position: relative;
  padding: 10px;
  background: #3F72AF;
  color: #DBE2EF;
  cursor: pointer;
  border-radius: 5px;
}

.projectcontent .projectcard .projecttitle::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.projectcontent .projectcard.active .projecttitle::before {
  content: '-';
}

.projectcontent .projectcard .projecttext {
  position: relative;
  background: #F9F7F7;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.projectcontent .projectcard.active .projecttext {
  height: 300px;
  padding: 10px;
}

.technologies {
  margin: auto;
}

.techcontainer {
  display: flex;
  justify-content: space-around;
}

.nextjsicon {
  color: red;
}

.reactjsicon {
  color: aqua;
}

.htmlicon {
  color: rgb(255, 132, 0);
}

.cssicon {
  color: rgb(0, 119, 255)
}