.mainpage {
  margin: 5% 35%;
}

.resumelink {
  width: 100px;
}
.resumebutton {
  font-size: 20px;
  border: 2px solid black;
  width: 100px;
  text-align: center;
}

.contactscomponent {
  text-align: center;
}

.contacts {
  margin: 0 4px 0 4px;
}

.profilephoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.projectimage {
  max-width: 600px;
}

.projectcard {
  max-width: 800px;
}

.projectcontent {
  max-width: 800px;
}

.projectcontent .projectcard {
  position: relative;
  margin: 10px 20px;
}

.projectcontent .projectcard .projecttitle {
  position: relative;
  padding: 10px;
  background: teal;
  color: #fff;
  cursor: pointer;
}

.projectcontent .projectcard .projecttitle::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.projectcontent .projectcard.active .projecttitle::before {
  content: '-';
}

.projectcontent .projectcard .projecttext {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.projectcontent .projectcard.active .projecttext {
  height: 300px;
  padding: 10px;
}

.nextjsicon {
  color: red;
}

.reactjsicon {
  color: aqua;
}

.htmlicon {
  color: rgb(255, 132, 0);
}

.cssicon {
  color: rgb(0, 119, 255)
}