.mainpage {
  margin-top: 5%;
  margin-left: 35%
}

.contactscomponent {
  text-align: center;
}

.contacts {
  margin: 0 4px 0 4px;
}

.profilephoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.projectimage {
  max-width: 600px;
}

.projectcard {
  max-width: 600px;
}