.navbar {
  background-color: rgba(219, 226, 239, 1);
  position: sticky;
  top: 0;
  z-index: 9999;
  border-radius: 5px;
  width: 100%;
}

.header {
  width: 21%;
}

.header:hover {
  cursor: pointer;
}